@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  width: auto;
  height: 100vh;
}

.encabezado {
  background-color: #143e64;
  width: auto;
  height: 8%;
  position: relative;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid rgb(248, 216, 216);
  box-shadow: 5px 0 10px rgba(0, 0,0,.6);
}

.box {
  width: auto;
  height: 100%;
  color: white;
  display: flex;
  align-items: center;
}

.box nav a {
  padding: 6px;
  text-decoration: none;
  color: white;
  margin-right: 1rem;
  font-size: 20px;
}
.box a:hover, a.activate{
  background-color: rgba(189, 189, 189, 0.3);
  transition: .4s;
}

.principal {
  display: flex;
  width: auto;
  height: 82%;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
}

.principal article h2 {
  font-size: 3rem;
}

.principal article p {
  font-size: 24px;
  margin-top: 10px;
}

.enlace:link,
.enlace:visited {
  background-color: #6c63ff;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  height: auto;
  width: 120px;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 5px 0 10px rgba(0, 0,0,.2);
}

.enlace:hover,
.enlace:active {
  background-color: #143e64;
}

.principal img {
  width: 400px;
  height: auto;
}

@media screen and (max-width: 700px) {
  .encabezado {
    height: 15%;
    flex-direction: column;
    align-items: center;
  }

  .principal {
    height: 85%;
    flex-direction: column;
  }

  .articulo1 {
    order: 1;
  }
}
