* {
  margin: 0;
  padding: 0;
}

body {
  width: auto;
  height: 100vh;
}

.encabezado {
  background-color: #143e64;

  width: auto;
  height: 8%;

  position: relative;

  display: flex;
  justify-content: space-around;
}

.box {
  width: auto;
  height: 100%;

  color: white;

  display: flex;
  align-items: center;
}

.box nav a {
  text-decoration: none;
  color: white;

  margin-right: 1rem;
  font-size: 18px;
}

.principal {
  display: flex;
  width: auto;
  height: 82%;

  justify-content: space-evenly;
  align-items: center;

  padding: 20px;
}

.principal article h2 {
  font-size: 3rem;
}

.principal article p {
  font-size: 24px;
}

.enlace:link,
.enlace:visited {
  background-color: #6c63ff;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;

  display: block;
  height: auto;
  width: 100px;
  margin-top: 20px;
  border-radius: 5px;
}

.enlace:hover,
.enlace:active {
  background-color: #143e64;
}

.principal img {
  width: 400px;
  height: auto;
}

@media screen and (max-width: 700px) {
  .encabezado {
    height: 15%;
    flex-direction: column;
    align-items: center;
  }

  .principal {
    height: 85%;
    flex-direction: column;
  }

  .articulo1 {
    order: 1;
  }
}
