* {
    margin: 0;
    padding: 0;
}

body {

    /* border: solid 1px ; */
    width: auto;
    height: 100vh;
}

.encabezado {
    /* border: solid 1px red; */
    background-color: #143E64;

    width: auto;
    height: 10%;

    position: relative;

    display: flex;
    justify-content: space-around;
}

.box {
    /* border: solid 1px; */

    width: auto;
    height: 100%;

    color: white;

    display: flex;
    align-items: center;

}

.box nav a {
    text-decoration: none;
    color: white;

    margin-right: 1rem;
}

.principal {
    /* border: solid 1px orange; */

    display: flex;
    width: auto;
    height: 80%;

    justify-content: space-evenly;
    align-items: center;
}

.principal article h2 {
    font-size: 2rem;
}

.principal article p {
    font-size: 1rem;
}

.principal article button {
    background-color: purple;
    color: white;
    font-size: 12px;
    height: 40px;
    width: 100px;
    text-align: center;
    border-radius: 5px;
    margin-top: 10px;
}

.principal img {
    
    width: 400px;
    height: auto;
}

@media screen and (max-width: 700px) {
    .encabezado {
        height: 15%;
        flex-direction: column;
        align-items: center;
    }
    
    .principal {
        /* border: solid 1px orange; */
        height: 85%;
        flex-direction: column;
    }

    .articulo1 {
        order: 1;
    }
}